body{


}

.content{
   display: flex;
   flex-direction: column; 
   width: 350px;
   height: 79vh;
   background-color: gainsboro;
   border-radius: 5px;
   box-shadow: 0 0 4px;
}

/*head de calculatrice*/
.head{
  /*background-color: gainsboro;*/
   height: 10vh;
}

/*resultate et operation*/
.ouput{
  display: flex;
  flex-wrap: wrap;
  height: 22vh;
  justify-content: center;
}
/*les input result et operation*/
#Input,#Output{
  
  width:96% ;
  font-size: 20px;
}
#Input{
  font-size: 26px;
}
/*style de tous button*/
.tous_boutton{
  /*background-color: gainsboro;*/
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;

}

/*style de chaque button*/
.tous_boutton button{
  width: 80px;
  height:50px ;
  font-size: 20px;
  margin-top: 5px;
  box-shadow: 0 0 2px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.leschiffres{
  background-color: white;
}
#egalee{
  background-color: blue;
  color: white;
}